{% extends "admin/base.html" %}

{% load i18n %}

{% block extrahead %}

{{ block.super }}
<style>
    .language-form{
        display: inline-block;
    }
    .language-label{
        display:inline-block;
        margin-right:5px;
    }
    .language-select{
        display: inline-block;
    }
</style>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('ZNS administration nha') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}


{% block userlinks %}
    {{ block.user }}
    {% if site_url %}
        <a href="{{ site_url }}">{% translate 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
    {% endif %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>
    {% include "admin/color_theme_toggle.html" %}

    <form class="language-form" id="languageForm" method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <label class="language-label" for="language" >Language: </label>
        <select class="language-select" name="language" id="language" onChange="changeLanguage(this.value)">
            {% for lang_code, lang_name in LANGUAGES %}
                {% if lang_code == LANGUAGE_CODE %}
                    <option value = "{{ lang_code }}" selected>{{ lang_name }}</option>
                {% else %}    
                    <option value = "{{ lang_code }}">{{ lang_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

<script>
    function changeLanguage(languageCode){
        const form = document.getElementById('languageForm');
        form.elements.language.value = languageCode;
        form.submit(); 
    }
</script>

{% endblock %}

